{% extends 'crypto\base\base.html' %}

{% load static %}

{% block title %}<title>Cryptocurrency Market</title>{% endblock %}
    

{% block main_heading %}{% endblock %}
{% block header_content %}{% endblock %}
    
{% block body %}
    <section>
      
      <table class="rwd-table">
        <tr>
            <th>Rank</th>
            <th>Crypto Name</th>
            <th>Price</th>
            <th>Market Cap</th>
        </tr>
        {% for item in query_predict_results %}
        <tr> 
            <td>{{ item.id }}</td>
            <td>{{ item.Crypto_Name }}</td>  
            <td>{{ item.Price }}</td>
            <td>{{ item.Marketcap  }}</td>

        </tr>
        {% endfor %}
    </table>
    </section>
{% endblock %}
