{% extends 'crypto\base\base.html' %}

{% load static %}

{% block title %}<title>Cryptocurrency Market</title>{% endblock %}
    

{% block main_heading %}{% endblock %}
{% block header_content %}{% endblock %}
    
{% block body %}
    <section>
      
      <table class="rwd-table">
        <tr>
            <th>Rank</th>
            <th>Crypto Name</th>
            <th>Price</th>
            <th>Changes 24H</th>
            <th>Changes 7D</th>
            <th>Changes 30D</th>
            <th>Changes 1Y</th>
            <th>Market Cap</th>
            <th>Volume 24H</th>
            <th>Available Supply</th>
        </tr>
        {% for item in query_results %}
        <tr> 
            <td>{{ item.id }}</td>
            <td>{{ item.Crypto_Name }}</td>  
            <td>{{ item.Price }}</td>
            <td>{{ item.Change_24_H  }}</td>
            <td>{{ item.Change_7_D  }}</td>
            <td>{{ item.Change_30_D  }}</td>
            <td>{{ item.Change_1_Y  }}</td>
            <td>{{ item.Marketcap  }}</td>
            <td>{{ item.Volume  }}</td>
            <td>{{ item.Supply  }}</td>
    
        </tr>
        {% endfor %}
    </table>
    </section>
{% endblock %}
